// Jumbotron
.jumbotron{
    height: 320px;
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// Main content
.comics_container{
    background-color: $brand_secondary;
}