// Main content
.comics_container{
    background-color: $brand_secondary;
    padding: 20px 0px;

    // Comics
    .comics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;

        .tag{
            position: absolute;
            top: -40px;
            left: 0;
            background-color: $brand_main;
            color: $brand_tertiary;
            padding: 10px 30px;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .comic{
        width: calc( 100% / 6 );
        padding: 10px;

        .cover{
            height: 190px;
            padding: 20px 0px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .cover_title{
            color: $brand_tertiary;
            font-size: 11px;
            text-transform: uppercase;
        }
    }

    // Button
    .button{
        margin: auto;
        text-align: center;
        line-height: 15px;
        margin-top: 25px;

        a{
            text-transform: uppercase;
            text-decoration: none;
            color: $brand_tertiary;
            background-color: $brand_main;
            font-size: 10px;
            font-weight: 800;
            padding: 8px 45px;
        }
    }

}

// Shop section
.shop_bg{
    background-color: $brand_main;
    padding: 40px 0px;

    .shop_links{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        

        a{
            text-decoration: none;
            color: $brand_tertiary;
            display: flex;
            align-items: center;

            img{
                height: 45px;

                &.ms_img{
                    height: 30px;
                }
            }

            span{
                margin-left: 15px;
            }
        }
    }
}

// Comic details main
.top_main{
    background-color: $brand_main;
    height: 70px;
}

.details_container{
    width: 800px;
    margin: auto;
    position: relative;

    .comic_cover{
        position: absolute;
        top: -175px;

        img{
            width: 150px;
        }

        .cover_top{
            position: absolute;
            top: 0;
            left: 0;
            background-color: $brand_quaternary;
            color: $brand_tertiary;
            text-transform: uppercase;
            padding: 4px;
            font-size: 9px;
            font-weight: 700;
        }

        .cover_bottom{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $brand_quaternary;
            text-align: center;
            line-height: 10px;
            padding: 3px;

            a{
                text-decoration: none;
                color: $brand_tertiary;
                text-transform: uppercase;
                font-size: 9px;
                font-weight: 700;
            }
        }
    }

    // Middle section
    .details_flex{
        display: flex;
        flex-direction: row;
        padding-top: 60px;

        .main_info{
            width: 80%;

            .availability_info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 20px 0px 10px 0px;

                .price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-grow: 1;
                    padding: 10px 20px;
                    background-color: limegreen;
                    border-right: 1px solid gray;
                }

                .availability_check{
                    padding: 10px 20px;
                    background-color: limegreen;
                }

            }
        }

        .advertisement{
            margin-left: 20px;
            text-align: right;
        }
    }

    

}


