// Main colors
$brand_main: #0282f9;
$brand_secondary: #222222;
$brand_tertiary: #ffffff;
$brand_quaternary: #00a9d9;
$brand_quintary: #003f5e;
$brand_sextary: #595959;
$brand_septenary: #55ba59;
$brand_octanary: #a8f084;